.container {
  width: 100%;
  max-width: 1322px;
  margin: 0 auto;
  padding: 0 25px;
}

@media (max-width: ($vp-1200 - 1px)) {
  .container {
    max-width: 100%;
    padding: 0 45px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .container {
    padding: 0 15px;
  }
}
