.container {
  width: 100%;
  //max-width: 1322px;
  max-width: 1210px;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;
}

@media (max-width: ($vp-1200 - 1px)) {
  .container {
    max-width: 100%;
    padding-right: 45px;
    padding-left: 45px;
  }

  .container--central {
    padding-left: 40px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .container {
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .container--central {
    padding-left: 13px;
    padding-right: 13px;
  }

  .container--gym {
    padding-left: 0;
    padding-right: 0;
  }
}
