.footer {
  width: 100%;
  color: $color-default-white;
  background-color: $color-sapphire;
}

/*.footer__wrap {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 45px;
  display: flex;
  gap: 15px;
}

@media (max-width: ($vp-1024 - 1px)) {
  .footer__wrap {
    padding-top: 45px;
    padding-bottom: 40px;
    gap: 10px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .footer__wrap {
    padding-top: 40px;
    padding-bottom: 34px;
    flex-direction: column;
  }

  .footer__inner-logo-wrap {
    margin-bottom: 11px;
  }

  .footer__navigation {
    margin-bottom: 0;
  }
}*/
