.footer-navigation__list {
  min-width: 440px;
  margin: 0;
  padding: 0 15px;
  color: $color-default-white;
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  list-style-type: none;
}

.footer-navigation__item:not(:first-child) {
  margin-left: 12px;
}

.footer-navigation__item a {
  margin-left: 10px;
  font-family: $family-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: $color-default-white;
}

.footer-navigation__item a:hover {
  color: $color-persian-blue;
}

@media (max-width: ($vp-1200 - 1px)) {
  .footer-navigation {
    max-width: 67%;
  }

  .footer-navigation__item a {
    margin-left: 9px;
  }

  .footer-navigation__list {
    width: max-content;
    min-width: 391px;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 3px;
    padding-right: 0;
    gap: 21px;
  }

  .footer-navigation__item:not(:first-child) {
    margin-left: 0;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .footer-navigation__list {
    width: 100%;
    min-width: 290px;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 16px;
    column-gap: 30px;
  }

  .footer-navigation__list-item {
    min-width: 120px;
  }

  .footer-navigation__item--pass {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .footer-navigation__item-promo {
    grid-column: 2/3;
  }

  .footer-navigation__item-coach {
    grid-column: 2/3;
  }

  .footer-navigation__item-timetable {
    grid-column: 2/3;
  }

  .footer-navigation__item a {
    margin-left: 0;
    font-size: 16px;
    line-height: 18.75px;
  }

  .footer-navigation__list li:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: end;
  }
}
