.main-footer {
  width: 100%;
  color: $color-default-white;
  background-color: $color-black-russian;
}

.main-footer__wrap {
  margin: 0 auto;
  padding-top: 44px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

@media (max-width: ($vp-1200 - 1px)) {
  .main-footer__wrap {
    padding-top: 45px;
    padding-bottom: 25px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .main-footer__wrap {
    padding: 45px 15px 51px 15px;
    flex-direction: column;
    position: relative;
  }

  .main-footer__navigation {
    margin-bottom: 19px;
  }
}
