.central-screen {
  width: 100%;

  background: url("../img/background/central-background@1x.jpg") top center/cover no-repeat,
    linear-gradient(90deg, $color-crimson 100%, $color-smalt 100%) center/cover no-repeat;

  @supports (background: url("../img/background/central-background@1x.webp")) {
    background: url("../img/background/central-background@1x.webp") top center/cover no-repeat,
    linear-gradient(90deg, $color-crimson 100%, $color-smalt 100%) center/cover no-repeat;
  }

  @media (min-resolution: 2dppx) {
    background: url("../img/backgroundcentral-background@2x.jpg") top center/cover no-repeat,
    linear-gradient(90deg, $color-crimson 100%, $color-smalt 100%) center/cover no-repeat;

    @supports (background: url("../img/background/central-background@2x.webp")) {
      background: url("../img/background/central-background@2x.webp") top center/cover no-repeat,
      linear-gradient(90deg, $color-crimson 100%, $color-smalt 100%) center/cover no-repeat;
    }
  }
}

.central-screen h2 {
  max-width: 400px;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  padding-right: 85px;
  font-family: $family-alumni;
  font-size: 92px;
  font-weight: 600;
  line-height: 110.5px;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-align: right;
  grid-column: 2/3;
  grid-row: 2/3;
}

.central-screen b {
  //margin-bottom: 25px;
  margin-left: auto;
  padding-top: 110px;
  padding-right: 118px;
  font-family: $family-alumni;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  letter-spacing: 0.03em;
  color: $color-default-white;
  grid-column: 2/3;
  grid-row: 1/2;
}

.central-screen__wrap {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 51px;
  display: grid;
  grid-template-columns: 11.38% 310px 43.1% 15.95%;
  grid-template-rows: min-content min-content min-content;
  gap: 15px;
}

.central-screen ul {
  height: min-content;
  margin: 0;
  margin-top: auto;
  margin-bottom: 92px;
  padding: 0;
  text-align: right;
  list-style-type: none;
  grid-column: 1/2;
  grid-row: 2/3;
}

.central-screen__features li {
  margin-bottom: 5px;
}

.central-screen img,
.central-screen picture {
  width: 100%;
  height: auto;
  grid-column: 3/4;
  grid-row: 1/4;
}

.central-screen__features span {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
  text-align: right;
}

.central-screen__buy-link {
  margin-right: 49px;
  display: flex;
  height: min-content;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 3/4;
}
