.coaches {
  padding-top: 106px;
  padding-bottom: 91px;
}

.coaches__title {
  margin: 0 auto;
  padding-bottom: 48px;
  font-family: $family-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 64.8px;
  text-align: left;
}

.coaches__arrows-slider-container {
  width: 100%;
  max-width: 1310px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.coaches__outer-wrap {
  width: 100%;
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}

.coaches__wrap {
  margin: 0 auto;
  display: flex;
}

.coaches__button {
  width: 16px;
  height: 32px;
}

//new
.coaches:focus-within .coaches__personal-card.swiper-slide-active h3 {
  margin: 38px auto 0 auto;
  position: static;
  line-height: 22px;
  text-align: center;
  transform: none;
  z-index: 10;
}

.coaches:focus-within .coaches__personal-card.swiper-slide-active span {
  margin: 0 auto 34px auto;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: $color-spindle;
  text-align: center;
  z-index: 10;
}

.coaches:focus-within .coaches__personal-card.swiper-slide-active ul {
  max-width: 190px;
  margin: 0 auto;
  padding-left: 37px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
  list-style-type: disc;
  z-index: 10;
}

.coaches:focus-within .coaches__personal-card.swiper-slide-active li:not(:last-child) {
  margin-bottom: 12px;
}

.coaches:focus-within .coaches__personal-card.swiper-slide-active img,
.coaches:focus-within .coaches__personal-card.swiper-slide-active picture {
  height: 100%;
  width: auto;
  aspect-ratio: 0.88;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.coaches:focus-within .coaches__personal-card.swiper-slide-active {
  padding: 15px;
  background-color: rgba(16, 38, 84, 0.89);
}

//new

.coaches__button--prev {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.coaches__button--next {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: ($vp-1200 - 1px)) {
  .coaches {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .coaches__title {
    margin-bottom: 31px;
    padding-bottom: 0;
    font-size: 42px;
    line-height: 50.4px;
    text-align: center;
  }

  .coaches__arrows-slider-container {
    width: calc(100% - 90px);
    margin: 0 auto;
  }

  .coaches__outer-wrap {
    width: calc(100% - 112px);
    height: 100%;
    margin: 0 auto;
  }

  .coaches__button--prev {
    left: 0;
  }

  .coaches__button--next {
    right: 0;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .coaches {
    padding-top: 65px;
    padding-bottom: 70px;
  }

  .coaches__title {
    margin-bottom: 42px;
    font-size: 32px;
    line-height: 38.4px;
  }

  .coaches__arrows-slider-container {
    width: calc(100% - 30px);
  }

  .coaches__outer-wrap {
    width: calc(100% - 64px);
  }
}
