.coaches {
  padding-top: 106px;
  padding-bottom: 91px;
}

.coaches__wrap {
  max-width: 1210px;
  display: flex;
}

.coaches__title {
  margin: 0 auto;
  padding-bottom: 48px;
  text-align: left;
}

.coaches__outer-wrap {
  width: 100%;
  max-width: 1302px;
  padding-right: 15px;
  padding-left: 15px;
}

.coaches__wrap {
  width: 100%;
  margin: 0 auto;
}

