.coach-card {
  width: 100%;
  //width: 25%;
  //max-width: 260px;
  max-height: 294px;
  aspect-ratio: 0.88;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: relative;
}

.coach-card h3 {
  //margin: 0 auto;
  width: max-content;
  max-width: 90.3%;
  font-family: $family-roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: $color-default-white;
  //text-align: center;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.coach-card span {
  display: none;
}

.coach-card ul {
  display: none;
}

.coach-card img,
.coach-card picture {
  height: 100%;
  object-fit: cover;
}

.coach-card:hover h3,
.coach-card--check h3 {
  margin: 38px auto 0 auto;
  position: static;
  line-height: 22px;
  text-align: center;
  transform: none;
  z-index: 10;
}

.coach-card:hover span,
.coach-card--check span {
  margin: 0 auto 34px auto;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: $color-spindle;
  text-align: center;
  z-index: 10;
}

.coach-card:hover ul,
.coach-card--check ul {
  max-width: 190px;
  margin: 0 auto;
  padding-left: 37px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 21px;
  color: $color-default-white;
  list-style-type: disc;
  z-index: 10;
  overflow-y: auto;
}

.coach-card:hover li:not(:last-child),
.coach-card--check li:not(:last-child) {
  margin-bottom: 12px;
}

.coach-card:hover img,
.coach-card:hover picture,
.coach-card--check img,
.coach-card--check picture {
  height: 100%;
  width: auto;
  aspect-ratio: 0.88;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.coach-card:hover,
.coach-card--check {
  padding: 15px;
  background-color: rgba(16, 38, 84, 0.89);
}

@media (max-width: ($vp-1200 - 1px)) {
  .coach-card {
    max-height: 100%;
    aspect-ratio: 0.91;
  }

  .coach-card h3 {
    padding-left: 7px;
  }

  .coach-card img,
  .coach-card picture {
    height: 100%;
    aspect-ratio: 0.91;
    width: auto;
  }

  .coach-card:hover h3,
  .coach-card--check h3 {
    padding-left: 0;
  }

  .coach-card:hover img,
  .coach-card:hover picture,
  .coach-card--check img,
  .coach-card--check picture {
    height: 100%;
    width: auto;
    aspect-ratio: 0.91;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .coach-card,
  .coach-card img,
  .coach-card picture,
  .coach-card:hover img,
  .coach-card:hover picture,
  .coach-card--check img,
  .coach-card--check picture {
    min-width: 226px;
    aspect-ratio: 0.83;
  }

  .coach-card:hover h3,
  .coach-card--check h3 {
    margin-top: 30px;
  }

  .coach-card:hover span,
  .coach-card--check span {
    margin-bottom: 31px;
  }

  .coach-card:hover ul,
  .coach-card--check ul {
    margin-left: 0;
  }

}
