.exercise-pass {
  background-color: $color-ghost-white;
  position: relative;
}

.exercise-pass__bottom-wrap {
  height: 120px;
  background-color: $color-default-white;
}

.exercise-pass::after {
  content: "";
  position: absolute;
  display: block;
  width: 321px;
  height: 384px;
  bottom: 50px;
  right: 0;
  background: url("../img/background/weight-plates@1x.png");
  background-position: -22% 30%;

  @media (min-resolution: 2dppx) {
    background: url("../img/background/weight-plates@2x.png");
    background-position: -22% 30%;
  }
}

.exercise-pass__duration-wrap {
  margin-bottom: 39px;
}

.exercise-pass__wrap {
  padding-top: 120px;
  padding-bottom: 78px;
}

.exercise-pass h2 {
  margin: 0;
  margin-bottom: 18px;
  font-family: $family-alumni;
  font-weight: 600;
  font-size: 54px;
  line-height: 64.8px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
  text-align: center;
}

.exercise-pass__duration-list {
  width: max-content;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  box-shadow: 0 2px 0 0 rgba(120, 120, 120, 0.2);
  position: relative;
  z-index: 5;
}

.exercise-pass__duration-item {
  cursor: pointer;
}

.exercise-pass__duration-item button {
  margin-bottom: 10px;
  font-family: $family-roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: rgba(16, 38, 84, 0.5);
  background-color: transparent;
  border-width: 0;
  cursor: pointer;
}

.exercise-pass__duration-item--active button {
  color: $color-sapphire;
}

.exercise-pass__duration-item button:hover {
  color: $color-kingfisher-daisy;
}

.exercise-pass__duration-item--active {
  box-shadow: 0 2px 0 0 $color-crimson;
}

.exercise-pass__duration-item:not(:last-child) {
  margin-right: 36px;
}

.exercise-pass__duration-wrap--nojs {
  display: none;
}

@media (max-width: ($vp-1200 - 1px)) {
  .exercise-pass {
    padding-bottom: 0;
  }

  .exercise-pass__bottom-wrap {
    height: 99px;
  }

  .exercise-pass::after {
    bottom: 17px;
    background-size: 130%;
    background-position: 25% 30%;
  }

  .exercise-pass h2 {
    margin-left: auto;
    margin-right: auto;
    padding-right: 6px;
    font-size: 42px;
    line-height: 50.4px;
  }

  .exercise-pass__wrap {
    padding-top: 100px;
    padding-bottom: 87px;
  }

  .exercise-pass__duration-wrap {
    margin-bottom: 46px;
  }

  .exercise-pass__duration-item:not(:last-child) {
    margin-right: 42px;
  }

  .exercise-pass__duration-item button {
    margin-bottom: 13px;
    font-size: 18px;
    line-height: 27px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .exercise-pass__wrap {
    padding-top: 65px;
    padding-bottom: 56px;
  }

  .exercise-pass__bottom-wrap {
    height: 70px;
  }

  .exercise-pass h2 {
    margin-bottom: 0;
    font-size: 32px;
    line-height: 38.4px;
  }

  .exercise-pass__duration-wrap {
    margin-bottom: 37px;
  }

  .exercise-pass__duration-item {
    padding-right: 5px;
  }

  .exercise-pass__duration-item:not(:last-child) {
    margin-right: 35px;
  }

  .exercise-pass__duration-item button {
    margin-top: 18px;
    padding-left: 0;
    font-size: 16px;
    line-height: 24px;
  }

  .exercise-pass::after {
    display: none;
  }
}
