.gym {
  color: $color-sapphire;
  font-family: $family-roboto;
}

.gym__wrap {
  height: max-content;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 226px;
  display: flex;
  //justify-content: flex-end;
  gap: 35px;
  position: relative;
}

.gym__text-wrap {
  width: 39.26%;
  max-width: 475px;
  margin-left: 8px;
  padding-top: 39px;
  padding-bottom: 40px;
  //padding-left: 60px;
}

.gym__inner-text-wrap {
  width: 100%;
  max-width: 355px;
  margin-left: auto;
  margin-right: auto;
}

.gym__text-wrap p {
  margin-bottom: 0;
}

.gym__text-wrap p ~ p {
  margin-top: 5px;
}

.gym__photo-wrap {
  width: 57.54%;
  max-width: 660px;
  max-height: 401px;
  margin: 0;
  padding: 0;
  //height: auto;
  display: block;
}

.gym__photo-wrap img,
.gym__photo-wrap picture {
  width: 100%;
  max-width: 660px;
  height: 100%;
  max-height: 401px;
  //object-fit: fill;
  //object-position: -10%;
}

.gym h2 {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-family: $family-alumni;
  font-size: 48px;
  font-weight: 600;
  line-height: 57.6px;
  letter-spacing: 0.03em;
  color: $color-sapphire;
}

.gym b {
  margin-bottom: 39px;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}

.gym p {
  max-width: 355px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.gym__video {
  max-width: 364px;
  right: 31.8%;
  bottom: 90px;
  position: absolute;
  z-index: 10;
}

.gym__video-play {
  padding: 0;
  display: flex;
  background-color: transparent;
  border-width: 0;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gym__video-play svg {
  margin: auto;
}

@media (max-width: ($vp-1200 - 1px)) {
  .gym__wrap {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 184px;
    flex-direction: column;
  }

  .gym__text-wrap {
    width: 100%;
    max-width: 1109px;
    margin-left: 0;
    padding-top: 0;
    padding-bottom: 7px;
  }

  .gym__inner-text-wrap {
    //max-width: 45.27%;
    max-width: 100%;
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
  }

  .gym__video {
    width: 34.75%;
    max-width: 384px;
    height: auto;
    aspect-ratio: 1.59;
    right: 15%;
    bottom: 98px;
    transform: translateX(-50%);
  }

  .gym__photo-wrap {
    width: 100%;
    max-width: 1109px;
    max-height: 564px;
  }

  .gym p {
    max-width: 100%;
  }

  .gym__photo-wrap img,
  .gym__photo-wrap picture {
    max-width: 100%;
    max-height: 563px;
    aspect-ratio: 1.97;
    //object-fit: contain;
  }

  .gym h2,
  .gym b,
  .gym__text-wrap p {
    text-align: center;
  }

  .gym h2 {
    margin-bottom: 0;
    padding-right: 10px;
    font-size: 42px;
    line-height: 50.4px;
  }

  .gym b {
    margin-bottom: 35px;
  }

  .gym__text-wrap p ~ p {
    display: none;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .gym__wrap {
    padding-top: 64px;
    padding-bottom: 70px;
    gap: 32px;
  }

  .gym h2 {
    margin-bottom: 3px;
    font-size: 32px;
    line-height: 38.4px;
    text-align: left;
  }

  .gym__text-wrap {
    padding-bottom: 0;
  }

  .gym b,
  .gym p {
    text-align: left;
  }

  .gym b {
    margin-bottom: 27px;
  }

  .gym p {
    padding-right: 20px;
  }

  .gym__photo-wrap {
    padding-bottom: 7px;
  }

  .gym__photo-wrap img,
  .gym__photo-wrap picture {
    min-height: 313px;
    object-fit: cover;
    //object-position: 85%;
  }

  .gym__video {
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1.92;
    margin: 0;
    bottom: 0;
    right: -50%;
    position: relative;
  }

  .gym__video a {
    width: 100%;
    display: flex;
    transform: translate(0);

  }

  .gym__video img,
  .gym__video picture {
    width: 100%;
  }

  .gym__inner-text-wrap {
    padding-left: 15px;
    padding-right: 15px;
  }

}
