.tab-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.tab-list__item {
  display: none;
}

.tab-list__item--current {
  width: 100%;
  display: block;
}

.tab-list--nojs {
  flex-direction: column;
}

.tab-list__item--nojs {
  display: block;
}

.tab-list__item--nojs:first-child {
  margin-top: 20px;
}

@media (max-width: ($vp-1200 - 1px)) {
  .tab-list--nojs {
    height: min-content;
    flex-wrap: nowrap;
  }

  .tab-list__item--nojs span {
    margin-bottom: 20px;
  }

  .tab-list__item--nojs {
    height: min-content;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .tab-list__item--nojs .tab-list__pass-types {
    gap: 20px;
  }
}
