.header-navigation {
  max-width: 1216px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

.header-navigation a {
  color: $color-default-white;
  font-size: 26px;
  line-height: 31.2px;
  letter-spacing: 0.03em;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  height: min-content;
}

.header-navigation a:hover,
.header-navigation__phone:hover {
  color: $color-kingfisher-daisy;
}

@media (max-width: ($vp-1200 - 1px)) {
  .header-navigation a {
    margin-top: 5px;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 0.02em;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .header-navigation a {
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
    line-height: 24px;
  }
}
