.button {
  padding: 27px;
  font-family: $family-roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 5em;
  color: $color-sapphire;
  background-color: transparent;
  border: 2px solid $color-resolution-blue;
}
