.button {
  padding: 27px;
  font-family: $family-roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: $color-sapphire;
  background-color: transparent;
  border: 2px solid $color-resolution-blue;
  text-transform: uppercase;
  cursor: pointer;
}

//.button:hover {
//  color: $color-default-white;
//  background-image: $hover-gradient;
//  border-width: 0;
//}

.button--white {
  padding: 20px;
  color: $color-default-white;
  border: 4px solid $color-default-white;
}

.button--white:hover {
  color: $color-sapphire;
  border-color: $color-sapphire;
  background-color: $color-default-white;
}
