.input-wrap input {
  width: 100%;
  height: 31px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $family-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: $color-default-white;
  border-width: 0;
  border-bottom: 1px solid $color-light-slate-gray;
  background-color: transparent;
  cursor: text;
}

.input-wrap input::placeholder {
  font-family: $family-roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.41px;
  color: $color-default-white;
}

.input-wrap input:hover {
  border-bottom: 2px solid $color-whisper;
}

.input-wrap input:focus-visible {
  outline: none;
}

.input-wrap input.valid,
.input-wrap input.valid:hover,
.input-wrap input.valid:active {
  border-bottom: 2px solid $color-cobalt;
}

.input-wrap input.invalid {
  border-bottom: 2px solid $color-torch-red;
}
