.logo-block__link {
  width: 122px;
  height: 44px;
  margin: 0;
  margin-right: auto;
  padding: 0;
  display: flex;
}

.logo-block__link svg {
  width: 122px;
  height: 44px;
  display: block;
}

.logo-block--header {
  margin-bottom: auto;
}

.logo-block--footer svg {
  width: 88px;
  height: 32px;
}

.logo-block--footer .logo-block__link {
  width: min-content;
}

@media (max-width: ($vp-1200 - 1px)) {
  .logo-block__link,
  .logo-block a {
    padding-top: 0;
    margin-top: 0;
  }

  .logo-block__link svg {
    width: 82px;
    height: 17px;
  }

  .logo-block--header {
    padding-top: 10px;
  }
}

@media (max-width: ($vp-768 - 1px)) {
  .logo-block__link svg {
    width: 69px;
    height: 24px;
  }

  .logo-block {
    padding-top: 0;
  }

  .logo-block--footer {
    position: absolute;
    top: 46px;
    left: 15px;
  }
}
