.slider-button {
  width: 16px;
  height: 32px;
}

.slider-button svg {
  width: 16px;
  height: 32px;
  fill: none;
  stroke: $color-dark-gray;
  stroke-width: 1px;
}

.slider-button--prev svg {
  transform: rotate(180deg);
}

.slider-button:hover svg,
.slider-button:active svg,
.slider-button:focus svg {
  stroke: $color-resolution-blue;
}

//.slider-button[aria-disabled="true"] svg {
//  stroke: $color-ghost-white;
//}

@media (max-width: ($vp-768 - 1px)) {
  .slider-button,
  .slider-button svg {
    width: 10px;
    height: 19px;
  }
}
